  <div id="gallery">
    <% media_album.photos.each do |photo| %>
      <a href="<%="#{photo.get_image_url(media_album.width, media_album.height)}"%>" class="gallery-thumbnail">
        <img src="<%="#{photo.photo_url_small}"%>"
             class="gallery-thumbnail-img"
             alt="<%= photo.description %>"/>
      </a>
    <% end %>
  </div>
  
