  <div id="gallery">
    <% media_album.photos.each do |photo| %>
      <a href="<%="#{photo.get_image_url(media_album.width, media_album.height)}"%>" class="gallery-thumbnail">
        <img src="<%="#{photo.thumbnails[1].thumbnail_url}"%>" class="gallery-thumbnail-img" title="<%= photo.name %>" alt="<%= photo.description %>"/>
      </a>
    <% end %>
  </div>
  
