    <div class="slider-wrapper theme-default">
      <div id="<%="slider_#{media_album.name}"%>" class="nivoSlider">
        <% media_album.photos.each do |photo| %>
           <img src="<%="#{photo.get_image_url(media_album.width, media_album.height)}"%>" class="slider-thumbnail-img" alt="<%= photo.description %>"/>
        <% end %>      	
      </div>
    </div>
    
    <%= slider("#slider_#{media_album.name}") %>