require(['jquery', 'YSDForms', 'YSDFileUploader', 'ysdtemplate',
         'jquery.ui', 
         'jquery.formparams', 'jquery.toast'], function($, YSDForms, FileUploader, tmpl) {
    editAlbumModel = {
        fileUploader: null,
        deletePhoto: function(id) {
            $.ajax({
                type: 'DELETE',
                url : '/api/photo/'+id,
                contentType : 'application/json; charset=utf-8',
                success: function(data, textStatus, jqXHR) {
                    editAlbumView.update('photo_deleted', id);
                },
                error: function(data, textStatus, jqXHR) {
                    alert('Error creando página');
                },
                complete: function(jqXHR, textStatus) {

                }

            });
        }
    };

    editAlbumController = {

        addPhotoToSlide: function() {
            editAlbumModel.fileUploader.uploadFile();
            editAlbumView.setupDeletePhotoEvent();
        },  

        deletePhotoClick: function(photoId) {
            if (confirm('¿Desea eliminar la foto?')) {
                editAlbumModel.deletePhoto(photoId);
            }
        }

    };

    editAlbumView = {

        init: function () {
            YSDForms.improve();
            this.setupControls();
        },

        setupControls: function() {  
            this.setupUploader();
            this.setupDeletePhotoEvent();        
        },

        setupDeletePhotoEvent: function() {
            $('.delete-photo').unbind('click');
            $('.delete-photo').bind('click', function(){
                var id= $(this).attr('rel');
                editAlbumController.deletePhotoClick(id);
            });
        },

        setupUploader: function() {

            editAlbumModel.fileUploader = new FileUploader('gallery_photo', 
                                                 'photo_file', 
                                                 'gallery_photo_uploader');
     
            editAlbumModel.fileUploader.addListener('start_upload', function(event) {
                console.log('start upload');
                console.log(event.data);
                var fileName = event.data.fileName.replace(/\\/g,'').replace(/:/g,'').replace(/\./g,'');
                var data = {id:fileName, 
                            description:'<div style="width:144px; height: 85px; display:inline-block; text-align: center; position: relative; top: -30px; border: 1px dashed #EEE; background:url(\'/img/ajax-loader_grande.gif\'); background-repeat: no-repeat; background-position: center"><span style="position: relative; top: 30px; color: rgb(33, 107, 10);"><%=t.uploader.uploading_message%></span></div>'};
                var html = tmpl('uploading_template')(data);
                $('#album_container').append(html);                            
            });

            editAlbumModel.fileUploader.addListener('file_uploaded', function(event) {
                console.log('file uploaded');
                console.log(event.data);
                var data = event.data.file;
                var fileName = event.data.fileName.replace(/\\/g,'').replace(/:/g,'').replace(/\./g,'');
                console.log(fileName);
                $('#album_id').val(data.album_id); // TODO Update the content with the album id
                $('#'+fileName).remove();
                var html = tmpl('photo_template')({photo: data});
                $('#album_container').append(html);
            });

            editAlbumModel.fileUploader.addListener('file_uploaded_error', function(event) {
                console.log('error uploading file');
                var fileName = event.data.fileName.replace(/\\/g,'').replace(/:/g,'').replace(/\./g,'');
                console.log(fileName);
                var data = {id:fileName, description:'<div style="width:144px; height: 85px; display:inline-block; text-align: center; position: relative; top: -30px; border: 1px dashed #FBB;background: rgba(255,100,100,0.2)"><span style="position: relative; top: 30px; color: rgb(255, 0, 0);"><%=t.uploader.error_title%></span></div>'};                
                var html = tmpl('uploading_template')(data);
                $('#'+fileName).html(html);
            });

            $('#add_photo_button').bind('click', function(){
                editAlbumController.addPhotoToSlide(); 
            });

        },

        update: function(action, value) {
            switch (action) {
                case 'photo_deleted':
                    $.toast({
                        heading: 'Foto eliminada',
                        text: 'La foto se ha eliminado correctamente',
                        position: 'top-right',
                        bgColor: 'rgb(56, 154, 56)',
                        textColor: 'white',
                        loader: false,
                        stack: false
                    });  
                    $('.photo-container[data-id='+value+']').remove();             
                    break;    
            }
        }

    };

    editAlbumView.init();

});