  
  <h2>Fotos del album</h2>
  <div>
  	<p class="summary"><%= media_album.name %></p>
    <p class="summary"><%= media_album.description %></p>
  </div>
  <%= partial(:album, :locals => {:media_album => media_album, :options => options}) %>
