<div class="admin_content_wrapper">
  <div class="container_12">
    <div class="container_12">
      <div class="grid_3">
        <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
          <p class="centered_text"><a href="/admin/media/config"><%=t.console_media.configuration%></a></p>
        </div>
      </div>
      <div class="grid_3">
        <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
          <p class="centered_text"><a href="/admin/media/album"><%=t.console_media.albums%></a></p>
        </div>
      </div>
    </div>
  </div>
</div>