        <!-- fieldset-render-photo-em-formexternsion.erb -->
        <div id="choose_photo" style="display:none">
        
           <%= upload_photo :locals => { :photo_album  => photo_album , 
                                         :photo_width  => photo_width , 
                                         :photo_height => photo_height ,             
                                         :accept       => photo_accept, 
                                         :max_size     => photo_max_size } %>
        </div>

        <script type="text/javascript">
        
          require(['jquery', 'YSDGui', 'YSDEntityManagementComplementHooks'],
                   function($, YSDGui, EntityManagementComplementHooks) {
          	
            PhotoPlugin = function() {
          	
              this.onEdit = function(entity) { /* On Edit */
                this.configForm(entity);
                this.configureEvents(entity);
              };
            
              this.onNew = function() { /* On new */
                this.configForm(null);
                this.configureEvents(null);
              };

              this.adaptFormData = function(data) {
                delete data.change_photo_link;
                return data;
              }
               
              this.configForm = function(entity) {
                $('form[name=uploader_form] input[name=photo_id]').val('');
                $('form[name=uploader_form] input[name=photo_name]').val('');
                $('form[name=uploader_form] input[name=photo_description]').val('');
              }

              this.configureEvents = function(entity) { /* Configure the events */
                var self = this;
                $('#change_photo_link').bind('click',
                  function(event) {
                    self.choosePhoto(entity);	
                  });
              };

  	          this.choosePhoto = function(entity) { /* Choose the photo (push the button) */
  	
                var self = this;

  	            if (typeof uploaderModel != "undefined") {
  	  	 
                   var photoAlbum = '';
                   var photoId = '';
 
  	  	           if (document.forms['element']['photo_path']) { 
  	  	             var reg_exp = new RegExp("album\\/(\\w+)\\/photo\\/(\\w+)");
                     var photo_info = document.forms['element']['photo_path'].value.match(reg_exp);          
                     if (photo_info) {
                       photoAlbum = photo_info[1];
                       photoId = photo_info[2];  	  	
                     }
  	  	           }
  	  	
   	  	           uploaderModel.photoId = photoId;
  	  	           uploaderModel.photoAlbum = photoAlbum;
  	  	           if (document.forms['element']['key']) {
  	                 uploaderModel.photoName = document.forms['element']['key'].value;
  	  	           }
  	  	         
  	               uploaderModel.onPhotoUploaded = function() {
  	      
  	                 var the_photo = 'album/' + uploaderModel.photo.album_id + '/photo/' + uploaderModel.photo.id;
  	                 document.forms['element']['photo_path'].setAttribute('value', the_photo);
  	      
  	                 if (document.forms['element']['photo_url_tiny'] && uploaderModel.photo.photo_url_tiny) {
  	                   document.forms['element']['photo_url_tiny'].setAttribute('value', uploaderModel.photo.photo_url_tiny);
  	                 }
  	      
  	                 if (document.forms['element']['photo_url_small'] && uploaderModel.photo.photo_url_small) {
  	                   document.forms['element']['photo_url_small'].setAttribute('value', uploaderModel.photo.photo_url_small);
  	                 }
  	      
  	                 if (document.forms['element']['photo_url_medium'] && uploaderModel.photo.photo_url_medium ) {
  	                   document.forms['element']['photo_url_medium'].setAttribute('value', uploaderModel.photo.photo_url_medium);
  	                 }
  	      
  	                 if (document.forms['element']['photo_url_full'] && uploaderModel.photo.photo_url_full) {
  	                   document.forms['element']['photo_url_full'].setAttribute('value', uploaderModel.photo.photo_url_full);
  	                 }
  	      
  	                 // The version is added to force the photo reload
  	                 if (document.forms['element']['element_photo_img'] &&  uploaderModel.photo.photo_url_full) {
                       document.forms['element']['element_photo_img'].setAttribute('src', uploaderModel.photo.photo_url_full); 
  	                 }
  	               
  	                 YSDGui.hideElement(document.getElementById('choose_photo'));

                     self.manager.model.notifyHooks(uploaderModel.photo);
  	                     
  	               } // onPhotoUploaded
  	             }  	
  	           
  	             if (typeof uploaderController != "undefined") {
  	           	
  	           	   uploaderController.events.addEventListener('close', function(event) {
  	           	     YSDGui.hideElement(document.getElementById('choose_photo'));	
  	           	   });
  	           	
  	             }
  	           
  	             YSDGui.showElement(document.getElementById('choose_photo'), true);	
    	      } // choosePhoto
          
            };

            var photoPlugin = new PhotoPlugin();
            EntityManagementComplementHooks.register(photoPlugin);	
     
          });
          
        </script>
        <!-- /fieldset-render-photo-em-formexternsion.erb -->
        
