<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.photo_management.form.title%></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">
</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">

     <!-- Note: This has been extracted from fieldset-render-photo-em-form.erb in order to be shown in this area -->
     <div class="container_12">
       <div class="grid_12">
          <div class="photo-container" style="margin: 5px; padding: 5px">
             <img id="element_photo_img" <%% if (entity) { %> src="<%%= entity.photo_url_full%>" <%% } %> class="box-shadow" style="max-width: 100%; display:block; margin:0 auto"/>
          </div>
          <div style="margin:0 auto; width: 80px">
             <input class="form-button" type="button" name="change_photo_link" id="change_photo_link" value="<%=t.photo_management.form.upload_photo%>"/>
          </div>
       </div>
     </div>
     <!-- End Note -->

     <%% if (entity) { %>
     <form name="element">
        <div class="form-fields container_12">

          <input type="hidden" id="id" name="id" value="<%%= entity.id %>"/>

          <div class="grid_12">
            <div class="formrow">
              <label for="name" class="fieldtitle">Name</label>
              <input type="text" maxlength="40" id="name" name="name" class="fieldcontrol" readonly="readonly" <%% if (entity) { %> value="<%%= entity.name %>" <%% } %> />
            </div>
                
            <div class="formrow">
              <label for="width" class="fieldtitle">Width</label>
              <input type="text" maxlength="4" id="width" name="width" class="fieldcontrol" readonly="readonly" <%% if (entity) { %> value="<%%= entity.width %>" <%% } %> />
            </div>

            <div class="formrow">
              <label for="height" class="fieldtitle">Height</label>
              <input type="text" maxlength="4" id="height" name="height" class="fieldcontrol" readonly="readonly" <%% if (entity) { %> value="<%%= entity.height %>" <%% } %> />
            </div>

            <div class="formrow">
              <label for="height" class="fieldtitle">URL</label>
              <input type="text" maxlength="100" id="photo_url_full" name="photo_url_full" class="fieldcontrol" readonly="readonly" <%% if (entity) { %> value="<%%= entity.photo_url_full %>" <%% } %> />
            </div>

            <div class="formrow">
              <label for="height" class="fieldtitle">Descripción (alt)</label>
              <input type="text" maxlength="100" id="description" name="description" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.description %>" <%% } %> />
            </div>

            <div class="bottom-navigation-bar navigation-bar">
              <div class="navigation-bar-crud-buttons">
                 <%% if (entity) { %>
                   <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
                 <%% }
                   else { %>
                   <input type="submit" class="create-entity-button action-button entity-management-button" value="Create"/>
                 <%% } %>
              </div>
            </div>

          </div>

        </div>
             
     </form>
     <%% } %>

</script>

<%= photo_form_extension %>

